<div id = "intro">
    <div class = "container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item"><%= link_to 'View All Product', show_products_path(current_user.type_id) %></li>
            <li class="nav-item"><%= link_to 'Add New Product', new_seller_product_path(current_user.type_id) %></li>
        </ul>
    </div>
</div>